<!DOCTYPE html>
<html>
<head>
	<title>CRUD App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
	<nav>
		<h1>Artists & Songs</h1>
		<a href="/">Home</a> | 
		<a href="/artists">All Artists</a> | 
		<a href="/songs">All Songs</a> | 
		<a href="/artists/new_artist">Add New Artist</a>
	</nav>
	<%= yield %>
</body>
</html>