<h3><%= @artist.name %></h3>
<form action="/artists/<%= @artist_id %>/add_song" method="post">
	<label>Song: </label>
		<input type="text" name="song[name]" /><br>
	<label>Is the song on itunes?: </label>
		<input type="radio" name="song[on_itunes]" value="true" />Yes
		<input type="radio" name="song[on_itunes]" value="false" />No<br>
	<label>Number of soundcloud likes: </label>
		<input type="text" name="song[soundcloud_likes]" /><br>
	<input type="submit" value="Add Song" />
</form>