<form action="/artists/new_artist" method="post">
	<div>
		<label>Artist: </label>
		<input type="text" name="artist[name]" />
	</div>
	<div>
		<label>Genre: </label>
		<input type="text" name="artist[genre]" />
	</div>
	<div>
		<label>Number of members: </label>
		<input type="text" name="artist[num_members]" />
	</div>
	<div>
		<label>From: </label>
		<input type="text" name="artist[origin]" />
	</div>
	<input type="submit" value="Add artist" />
</form>